<span class="katex">
  <span class="katex-mathml">
    <math xmlns="http://www.w3.org/1998/Math/MathML">
      <semantics>
        <mrow>
          <mi mathvariant="normal">∀</mi><mi>i</mi><mi mathvariant="normal">.</mi><mi>t</mi><mo>∈</mo>
          <mrow><mi mathvariant="normal">G</mi><mi mathvariant="normal">O</mi><mi mathvariant="normal">D</mi><mi mathvariant="normal">E</mi><mi mathvariant="normal">L</mi></mrow><mo separator="true">,</mo> <msub><mi>t</mi><mi>k</mi></msub>
          <mo>&gt;</mo><msub><mi>t</mi><mi>j</mi></msub> <mo>⟹</mo> <mi>i</mi><mo stretchy="false">(</mo><msub><mi>t</mi><mi>k</mi></msub><mo stretchy="false">)</mo><mo>&gt;</mo><mi>i</mi> <mo stretchy="false">(</mo>
          <msub><mi>t</mi><mi>j</mi></msub><mo stretchy="false">)</mo>
        </mrow>
        <annotation encoding="application/x-tex">\forall i.t \in {\rm GODEL}, t_{k} &gt; t_{j} \implies i(t_{k}) &gt; i(t_{j})</annotation>
      </semantics>
    </math>
  </span>
  <span class="katex-html" aria-hidden="true">
    <span class="base">
      <span class="strut" style="height: 0.73354em; vertical-align: -0.0391em;"></span><span class="mord">∀</span><span class="mord mathnormal">i</span><span class="mord">.</span><span class="mord mathnormal">t</span>
      <span class="mspace" style="margin-right: 0.277778em;"></span><span class="mrel">∈</span><span class="mspace" style="margin-right: 0.277778em;"></span>
    </span>
    <span class="base">
      <span class="strut" style="height: 0.87777em; vertical-align: -0.19444em;"></span>
      <span class="mord">
        <span class="mord"><span class="mord mathrm">G</span><span class="mord mathrm">O</span><span class="mord mathrm">D</span><span class="mord mathrm">E</span><span class="mord mathrm">L</span></span>
      </span>
      <span class="mpunct">,</span><span class="mspace" style="margin-right: 0.166667em;"></span>
      <span class="mord">
        <span class="mord mathnormal">t</span>
        <span class="msupsub">
          <span class="vlist-t vlist-t2">
            <span class="vlist-r">
              <span class="vlist" style="height: 0.336108em;">
                <span class="" style="top: -2.55em; margin-left: 0em; margin-right: 0.05em;">
                  <span class="pstrut" style="height: 2.7em;"></span>
                  <span class="sizing reset-size6 size3 mtight">
                    <span class="mord mtight"><span class="mord mathnormal mtight" style="margin-right: 0.03148em;">k</span></span>
                  </span>
                </span>
              </span>
              <span class="vlist-s">​</span>
            </span>
            <span class="vlist-r">
              <span class="vlist" style="height: 0.15em;"><span class=""></span></span>
            </span>
          </span>
        </span>
      </span>
      <span class="mspace" style="margin-right: 0.277778em;"></span><span class="mrel">&gt;</span><span class="mspace" style="margin-right: 0.277778em;"></span>
    </span>
    <span class="base">
      <span class="strut" style="height: 0.901188em; vertical-align: -0.286108em;"></span>
      <span class="mord">
        <span class="mord mathnormal">t</span>
        <span class="msupsub">
          <span class="vlist-t vlist-t2">
            <span class="vlist-r">
              <span class="vlist" style="height: 0.311664em;">
                <span class="" style="top: -2.55em; margin-left: 0em; margin-right: 0.05em;">
                  <span class="pstrut" style="height: 2.7em;"></span>
                  <span class="sizing reset-size6 size3 mtight">
                    <span class="mord mtight"><span class="mord mathnormal mtight" style="margin-right: 0.05724em;">j</span></span>
                  </span>
                </span>
              </span>
              <span class="vlist-s">​</span>
            </span>
            <span class="vlist-r">
              <span class="vlist" style="height: 0.286108em;"><span class=""></span></span>
            </span>
          </span>
        </span>
      </span>
      <span class="mspace" style="margin-right: 0.277778em;"></span><span class="mspace" style="margin-right: 0.277778em;"></span><span class="mrel">⟹</span><span class="mspace" style="margin-right: 0.277778em;"></span>
      <span class="mspace" style="margin-right: 0.277778em;"></span>
    </span>
    <span class="base">
      <span class="strut" style="height: 1em; vertical-align: -0.25em;"></span><span class="mord mathnormal">i</span><span class="mopen">(</span>
      <span class="mord">
        <span class="mord mathnormal">t</span>
        <span class="msupsub">
          <span class="vlist-t vlist-t2">
            <span class="vlist-r">
              <span class="vlist" style="height: 0.336108em;">
                <span class="" style="top: -2.55em; margin-left: 0em; margin-right: 0.05em;">
                  <span class="pstrut" style="height: 2.7em;"></span>
                  <span class="sizing reset-size6 size3 mtight">
                    <span class="mord mtight"><span class="mord mathnormal mtight" style="margin-right: 0.03148em;">k</span></span>
                  </span>
                </span>
              </span>
              <span class="vlist-s">​</span>
            </span>
            <span class="vlist-r">
              <span class="vlist" style="height: 0.15em;"><span class=""></span></span>
            </span>
          </span>
        </span>
      </span>
      <span class="mclose">)</span><span class="mspace" style="margin-right: 0.277778em;"></span><span class="mrel">&gt;</span><span class="mspace" style="margin-right: 0.277778em;"></span>
    </span>
    <span class="base">
      <span class="strut" style="height: 1.03611em; vertical-align: -0.286108em;"></span><span class="mord mathnormal">i</span><span class="mopen">(</span>
      <span class="mord">
        <span class="mord mathnormal">t</span>
        <span class="msupsub">
          <span class="vlist-t vlist-t2">
            <span class="vlist-r">
              <span class="vlist" style="height: 0.311664em;">
                <span class="" style="top: -2.55em; margin-left: 0em; margin-right: 0.05em;">
                  <span class="pstrut" style="height: 2.7em;"></span>
                  <span class="sizing reset-size6 size3 mtight">
                    <span class="mord mtight"><span class="mord mathnormal mtight" style="margin-right: 0.05724em;">j</span></span>
                  </span>
                </span>
              </span>
              <span class="vlist-s">​</span>
            </span>
            <span class="vlist-r">
              <span class="vlist" style="height: 0.286108em;"><span class=""></span></span>
            </span>
          </span>
        </span>
      </span>
      <span class="mclose">)</span>
    </span>
  </span>
</span>
