<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}[GODEL]</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- seo -->
  <meta http-equiv="date" content="{{page.date |date: '%A, %d %Y %H:%M:%S GMT'}}" />
  <meta name="robots" content="{{page.robots}}">
  <meta name="description" content="{{page.description}}" />
  <link rel="canonical" href="https://godel.club{{ page.url }}" />


  <!-- styles -->
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
</head>

