<div id="pool-info">
  <div class="pool-info-fields item-list">
    <ul class="list">
      <li class="pool-info-field list-item">
        <span class="pool-info-field-label">
          Pool ID
        </span>

        <span class="pool-info-field-data" data-field='pool_id_bech32'>
          pool1xlgmew766a2ndakrn4sn63t00sf5z99w4ncd7k75r5thxqyln92
        </span>
      </li>

      <li class="pool-info-field list-item">
        <span class="pool-info-field-label">
          Ticker
        </span>

        <span class="pool-info-field-data" data-field='db_ticker'>
          GODEL
        </span>
      </li>

      <li class="pool-info-field list-item">
        <span class="pool-info-field-label">
          Name
        </span>

        <span class="pool-info-field-data" data-field='db_name'>
          Gödel's Game Reserve
        </span>
      </li>

      <li class="pool-info-field list-item">
        <span class="pool-info-field-label">
          Description
        </span>

        <span class="pool-info-field-data" data-field='db_description'>
          (λ (stake) (+ stake gainz))
        </span>
      </li>
    </ul>
  </div>

  <div class="pool-link">
    <a href="https://adapools.org/pool/37d1bcbbdad75536f6c39d613d456f7c134114aeacf0df5bd41d1773" rel="noreferrer nofollow" target="_blank">
      adapools.org
    </a>
  </div>
</div>
