<div id="pool-info">
  <div class="pool-info-field">
    Pool ID: <span data-field='pool_id_bech32'>pool1xlgmew766a2ndakrn4sn63t00sf5z99w4ncd7k75r5thxqyln92</span>
  </div>

  <div class="pool-info-field">
    Ticker: <span data-field='db_ticker'>GODEL</span>
  </div>

  <div class="pool-info-field">
    Name: <span data-field='db_name'>Gödel's Game Reserve</span>
  </div>

  <div class="pool-info-field">
    Description: <span data-field='db_description'>(λ (stake) (+ stake gainz))</span>
  </div>

  <div class="pool-info-field">
    <a href="https://adapools.org/pool/37d1bcbbdad75536f6c39d613d456f7c134114aeacf0df5bd41d1773" rel="noreferrer nofollow" target="_blank">
      adapools.org
    </a>
  </div>
</div>
