$breakpoint-s:  320px;
$breakpoint-m:  480px;
$breakpoint-l:  740px;

// Container.
$container-s:   90%;
$container-m:   $breakpoint-m;
$container-l:   $breakpoint-l;

.grid-container {
  display: grid;

  align-items: center;
  grid-template-columns: [bleed-start] 1rem auto [primary-start] repeat(12, minmax(0, 4rem)) [primary-end] auto 1rem [bleed-end];
}
