<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="l-header">
      <div class="leader">
        <h1>Gödel's Game Preserve</h1>

        <img 
           alt="Kurt Gödel looking pensive."
           class="godel-portrait"
           src="/assets/images/godel-banner.gif" />

        {% include godel-symbol.html %}

        <!-- <div id="godel-symbol"></div> -->
      </div>

      {% include nav.html %}
    </div> 

    {{ content }}

    {% include foot.html %}
  </body>
</html>
