<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="grid-container">
      <section class="l-header">
        <img alt="Kurt Gödel looking pensive." class="l-hero" src="/assets/images/godel-banner.gif" /> 

        <div class="l-leader">
          <h1 class='site-title'>Gödel's Game Preserve</h1>

          {% include godel-symbol.html %}

          {% include nav.html %}
        </div>
      </section> 

      {{ content }}

      {% include foot.html %}
    </div>
  </body>
</html>
